<div class="video-block" style="position: relative;">
    <video preload="none" playsinline src="../assets/Artland Show Promo small.mp4" poster="../assets/poster.jpg"
        #promoVideo controls>
        Ваш браузер не поддерживает HTML5
    </video>
    <div class="play-button" (click)="videoPlay()" [ngClass]="{'hidden': isVideoPlaying}"></div>
</div>
<p class="description"> <span style="font-weight: bold">Artland Show</span> - это современный проект, в котором вы
    увидите все многообразие танцевального искусства.</p>
<p class="description">В наших постановках важна каждая деталь. Танцевальный номер – это не только яркие костюмы и
    интересная хореография, но и оригинальная идея каждого номера и продуманные образы артистов.</p>