<div class="text">
    <p class="description"> <span style="font-weight: bold">Artland Show</span> станет неповторимым событием на вашем
        мероприятии, принесёт отличное настроение и заряд положительных эмоций! <br /> </p>
    <p class="description">При создании номеров мы стараемся, чтобы каждый из них становился произведением искусства.
        <br />
    </p>
    <p class="description">Репертуар шоу разнообразен, в нем присутствуют номера для открытия мероприятий, постановки в
        современных стилях, танцевальные этюды, сюжетные номера, тематические постановки и перфомансы. Мы работаем как
        отдельный шоу-балет, занимаемся подтанцовкой артистам, принимаем участие в корпоративах, показах, свадьбах,
        выставках, презентациях, а также проводим танцевальные флешмобы и мастер-классы. <br /> </p>
    <p class="description">Если у вас есть своя идея для номера, который вы хотели бы заказать, - пишите нам! Обсудим и
        сделаем постановку индивидуально для вашего мероприятия.<br /> </p>
</div>
<img src="../../../assets/about_us.jpg" alt="artlandshow_about_us" class="about-us-img" />