<div class="main-page">
  <div class="logo"></div>
  <mat-tab-group dynamicHeight mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        Главная
      </ng-template>
      <tab-main></tab-main>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        О нас
      </ng-template>
      IT'S ALL ABOUT US
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Репертуар
      </ng-template>
      ЧЕ УМЕЕМ
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Проекты
      </ng-template>
      ЧЕ УЖЕ СДЕЛАЛИ
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Услуги
      </ng-template>
      ЧЕ МЫ МОЖЕМ СДЕЛАТЬ ДЛЯ ВАС
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Команда
      </ng-template>
      ДЕВЧОНКИ В ФИОЛЕТОВОМ
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Контакты
      </ng-template>
      ОБРАТНАЯ СВЯЗЬ
    </mat-tab>
  </mat-tab-group>
  <div class="footer">
    <div>links to socials</div>
    <span>© 2019 Artland Show dancing project</span>
    <span>+7 926 22 77 468</span>
  </div>
</div>