html {
    min-height: 100%;
    background-color: #0C0E0D;
}

a {
    text-decoration: none !important;
    color: inherit;
}

body {
    margin: 0 !important;
    height: 100%;
    color: white;
    font-family: 'Alice', Roboto, 'Helvetica Neue', sans-serif;
}

[hidden],
.hidden {
    display: none !important;
}

video {
    outline: none;
}